#!/usr/bin/env python3

WEBSITES = [
    'https://example.com',
    'https://example.net',
]

# E-mail (Starttls)
SMTP_SERVER = 'smtp.example.com'
PORT = 587
SENDER_EMAIL = 'bofh@example.com'
SENDER_NAME = 'BOFH'
SMTP_USER = 'johndoe'
SMTP_PASSWORD = 'qwerty123'
RECEIVER_EMAIL = 'johndoe@example.com'
RECEIVER_NAME = 'John Doe'

# Send e-mail even if there are no errors.
EMAIL_WITHOUT_ERRORS = False